<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lcf.ims.mapper.ApplicationMapper">

	<sql id="whereStatement">
		<where>
			1=1
			<if test="name!=null and name!='' ">
				and name like CONCAT('%','${name}','%')
			</if>
			<if test="code!=null and  code!='' ">
				and code like CONCAT('%', '${code}','%')
			</if>
			<if test="basePath!=null and  basePath!='' ">
				and basePath like CONCAT('%','${basePath}','%')
			</if>
			<if test="description!=null and description!='' ">
				and basePath like CONCAT('%','${basePath}','%')
			</if>
		</where>
	</sql>
	
	<select id="searchApplication" resultType="cn.lcf.ims.entity.Application"
		parameterType="cn.lcf.ims.condition.ApplicationCondition">
		select a.* from (select
		<include refid="Base_Column_List" />
		from application
		<include refid="whereStatement" />
		) a
	</select>


</mapper>